@font-face {
   font-family: '造字工房静黑（非商用）特细体';
   font-display: swap;
   src: url('file:///C:/Users/FH678/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-03-02_142408/fonts/%E9%80%A0%E5%AD%97%E5%B7%A5%E6%88%BF%E9%9D%99%E9%BB%91%EF%BC%88%E9%9D%9E%E5%95%86%E7%94%A8%EF%BC%89%E7%89%B9%E7%BB%86%E4%BD%93/font.ttf');
}
