@font-face {
   font-family: '蒙纳简粗雅兰繁';
   font-display: swap;
   src: url('蒙纳简粗雅兰繁/font.ttf');
}
@font-face {
   font-family: '清松手寫體2';
   font-display: swap;
   src: url('清松手寫體2/font.ttf');
}
@font-face {
   font-family: '蒙纳幼雅丽繁';
   font-display: swap;
   src: url('蒙纳幼雅丽繁/font.ttf');
}
@font-face {
   font-family: '华康心动体繁';
   font-display: swap;
   src: url('华康心动体繁/font.ttf');
}
