@font-face {
   font-family: '薛文轩钢笔楷体';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E8%96%9B%E6%96%87%E8%BD%A9%E9%92%A2%E7%AC%94%E6%A5%B7%E4%BD%93/font.ttf');
}
