@font-face {
   font-family: 'Kosugi Maru';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/Kosugi Maru/regular.ttf') format('truetype');
}
