@font-face {
   font-family: '华康心动体繁 (1)';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E5%8D%8E%E5%BA%B7%E5%BF%83%E5%8A%A8%E4%BD%93%E7%B9%81%20(1)/font.ttf');
}
