@font-face {
   font-family: '锐字逼格锐线粗体简';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E9%94%90%E5%AD%97%E9%80%BC%E6%A0%BC%E9%94%90%E7%BA%BF%E7%B2%97%E4%BD%93%E7%AE%80/font.ttf');
}
