@font-face {
   font-family: 'FZMoDTJF_Da';
   font-display: swap;
<<<<<<< Updated upstream
   src: url('file:///D:/GitHub/mobirise/fonts/FZMoDTJF_Da/font.TTF');
=======
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/FZMoDTJF_Da/font.TTF');
>>>>>>> Stashed changes
}
