@font-face {
   font-family: '华康流隶体PW5';
   font-display: swap;
   src: url('file:///D:/%E6%A1%8C%E9%9D%A2/mobirise-b9234750ef2b3c91b0257d9800ddd67c675bd2cb/mobirise-b9234750ef2b3c91b0257d9800ddd67c675bd2cb/fonts/%E5%8D%8E%E5%BA%B7%E6%B5%81%E9%9A%B6%E4%BD%93PW5/font.ttf');
}
