@font-face {
   font-family: '加粗新蒂下午茶';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E5%8A%A0%E7%B2%97%E6%96%B0%E8%92%82%E4%B8%8B%E5%8D%88%E8%8C%B6/font.ttf');
}
