@font-face {
   font-family: '胡晓波美心常规体';
   font-display: swap;
   src: url('file:///D:/%E6%A1%8C%E9%9D%A2/mobirise-b9234750ef2b3c91b0257d9800ddd67c675bd2cb/mobirise-b9234750ef2b3c91b0257d9800ddd67c675bd2cb/fonts/%E8%83%A1%E6%99%93%E6%B3%A2%E7%BE%8E%E5%BF%83%E5%B8%B8%E8%A7%84%E4%BD%93/font.ttf');
}
