@font-face {
   font-family: '趼极釔砩夢窪极';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E8%B6%BC%E6%9E%81%EF%9F%B0%E9%87%94%E7%A0%A9%E5%A4%A2%E7%AA%AA%E6%9E%81/font.ttf');
}
