@font-face {
   font-family: '张海山锐线体简';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%E5%BC%A0%E6%B5%B7%E5%B1%B1%E9%94%90%E7%BA%BF%E4%BD%93%E7%AE%80/font.ttf');
}
