@font-face {
   font-family: '__';
   font-display: swap;
   src: url('file:///C:/Users/a0926/Desktop/mobirise/fonts/%EF%99%88%EE%8C%A3%EE%A1%A8%EE%9D%A9%EF%80%A6%EE%BF%BA_%EF%80%99%EF%99%87_/font.ttf');
}
